/* ---------------------------------------------------------
    Global
--------------------------------------------------------- */

/* SCSS Variables */

$sm-breakpoint: 900px;


/* Fonts */
@font-face {
    font-family: "Hershey Simplex";
    font-display:block;
    src: url("/assets/fonts/HersheySimplex-Regular.woff2") format("woff2"),
         url("/assets/fonts/HersheySimplex-Regular.woff") format("woff"),
         url("/assets/fonts/HersheySimplex-Regular.eot") format("eot"),;
}

@font-face {
    font-family: "Hershey Simplex Mono";
    font-display:block;
    src: url("/assets/fonts/HersheySimplexMono-Regular.woff2") format("woff2"),
         url("/assets/fonts/HersheySimplexMono-Regular.woff") format("woff"),
         url("/assets/fonts/HersheySimplexMono-Regular.eot") format("eot"),;
}


/* CSS Variables */

:root {
    --line-height: 1.7;
    --sm-padding: 1rem;
    --lg-padding: 6rem;
    --font-size: 14px;

    @media (max-width: $sm-breakpoint) {
        --lg-padding: 2rem;
        --font-size: 14px;
    }
}

/* Generic Elements */

html {
    font-family: "Hershey Simplex";
    font-size: var(--font-size);
    line-height: var(--line-height);
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    background-color: rgb(210,210,210);
    -webkit-text-stroke: 0.12rem;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    background-color: rgb(210,210,210);
}

::selection {
    color: black;
    -webkit-text-stroke: 0.4rem;
}

img {
    width: 100%;
    display: block;
}

a:hover {
    -webkit-text-stroke: 0.4rem;
}